# This buildout is used for development of mailinglogger.
# See docs/development.txt for details.

[buildout]
develop = .
parts = 
 py
 test
 docs

# the base set of eggs needed for testing
eggs = 
  mailinglogger
  manuel
  pytz
  testfixtures

[py]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = py 

[test]
recipe = zc.recipe.testrunner
eggs = ${buildout:eggs}
defaults = ['-s', 'mailinglogger']

[docs]
recipe = zc.recipe.egg
eggs =  
  mailinglogger
  sphinx
  sphinx-pypi-upload
  zc.rst2
  pkginfo
  setuptools-git
interpreter = docpy
